@tailwind base;
@tailwind components;
@tailwind utilities;

h4 {
  font-size: 1.2rem;
}

h3 {
  font-weight: 900;
}

h1,
h2,
h3 {
  font-family: poppins, sans-serif;
}

@layer base {
  body {
    font-family: "Cutive Mono", monospace;
  }
}
